

body{
 margin: 0;
font-size: 14px;
background: -webkit-linear-gradient(
        to right,
        #001e4d,
        #035c93,
    );
background: linear-gradient(to right, #001e4d, #035c93);

text-transform: uppercase;
font-weight: 400;


}
#main{
    margin-left: 2.5em;
   position: relative;
   margin-top: 10px;
}
#test{
    position: relative;
    animation: myMove 0.8s;
    animation-fill-mode: forwards;
}

#test{ animation-timing-function: linear;}
@keyframes myMove{
    from {left: -100px;}
    to{left: 0px;}
}

*{
box-sizing: border-box;
margin:0;
padding:0;
outline: none;
}


.custom-box{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
max-width: 550px;
font-size: 11px;
background: white;
margin:40px auto;
padding: 30px;
border-radius: 10px;
box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
border-style: outset;
animation: fadeInRight 1s ease;
}
@keyframes fadeInRight{
    0%{
        transform: translateX(40px);
        opacity:0;
     }
    100%{
        transform: translateX(0px);  
        opacity:1;
     }
}
.custom-box::before,
.custom-box::after{
    content: '';
    clear: both;
    display: table;
}
.custom-box.hide{
    display: none;
}

.home-box h3{
    font-size: 14px;
    color:#000000;
    font-weight: 500;
    margin-bottom: 15px;
    line-height: 25px;
}

.home-box p{
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 22px;
    color:#000000;
    font-weight: 400;
}
.home-box p span{
    font-weight: 500;
}
.home-box .btn{
    margin-top: 20px;
    position: relative;
    margin-left: 130px;
    font-size: 14px;
    border: 3px solid black;
    border-style: outset;
}

.btn{
    padding: 15px 45px;
    background-color:  #001e4d;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    color:#ffffff;
    border: 3px solid black;
    border-style: outset;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    transition: 0.3s;
}
.btn:hover:not([disabled]) {
    background: #86a1ce;
    color: #fff;
}

.quiz-box .question-number,
.quiz-box .question-text,
.quiz-box .option-container,
.quiz-box .next-question-btn,
.quiz-box .answers-indicator{
    width: 100%;
   float: left;
}


.quiz-box .question-number{
    font-size: 18px;
    color: #001e4d;
    font-weight: 600;
    border-bottom:1px solid #cccccc;
    padding-bottom: 10px;
    line-height: 25px
}
.quiz-box .question-text{
    font-size: 18px;
    color:#000000;
    line-height: 28px;
    font-weight: 400;
    padding: 20px 0;
    margin:0;
}
.quiz-box .question-text img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-fit: fill;
    display: block;
    margin-top: 10px;
    border: 6px solid black;
    border-style: inset;
}
.quiz-box .question-text img:hover{
    top:0px;
    right:100px;
    left: 100px;
    width:700px;
    transition: 0.4s;
    
    
  }

.quiz-box .option-container .option{
    background-color: #f9f5f5;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding:13px 15px;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 22px;
    object-fit: contain;
    width: 100%;
    height: auto;
    
    border-style: outset;
    color:#000000;
    border-radius: 8px;
    margin-bottom: 10px;
    cursor: pointer;
    text-transform: capitalize;
    opacity:0;
    animation: fadeIn 0.3s ease forwards;
    position: relative;
    overflow:hidden;
}
.quiz-box .option-container .option:hover:not([disabled]) {
    background: #274068;
    color: #fff;
}

.quiz-box .option-container .option.already-answered{
    pointer-events: none;
}
@keyframes fadeIn{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}
.quiz-box .option-container .option.correct::before{
    
    position: relative;
    left:0;
    top:0;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    z-index: -1;
    animation: slideInLeft .5s ease forwards
}
@keyframes slideInLeft{
    0%{
        transform: translateX(-100%);
       
    }
    100%{
        transform: translateX(0%); 
        
     }
}
.quiz-box .option-container .option.wrong::before{
    content: '';
    position: relative;
    left:0;
    top:0;
    height: 100%;
    width: 100%;
    background-color: rgb(227, 78, 78);
    z-index: -1;
    animation: slideInLeft .5s ease forwards
}
.quiz-box .option-container .option.wrong{
    color:#ffffff;
    background-color: rgb(248, 53, 53);
    
}
.quiz-box .option-container .option.correct{
    color:#ffffff;
    background-color:green;
}
.quiz-box .btn{
    margin:15px 0;
    border: 2px solid black;
    border-style: outset;
}

.quiz-box .answers-indicator{
    border-top: 1px solid #cccccc;
}
.quiz-box .answers-indicator div{
    height: 40px;
    width: 40px;
    padding: 10px;
    display: inline-block;
   
    border: 1px solid black;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    border-style: inset;
    border-radius: 20%;
    margin-right: 3px;
    margin-top: 15px;
}
.quiz-box .answers-indicator div.correct{
    background-color:green;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}
.quiz-box .answers-indicator div.wrong{
    background-color: rgb(248, 53, 53);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    
}

.result-box{
    text-align: center;
}
.result-box.hide{
    display: none;
}

.result-box h1{
    font-size: 36px;
    line-height: 42px;
    color:#001e4d;
    
}

.result-box table{
    width: 100%;
    border-collapse: collapse;
    margin:30px 0;
} 
 
.result-box table td{
    border:1px solid #cccccc;
    border-style: inset;
    padding:8px 15px;
    font-weight: 500;
    color:#000000;
    width: 50%;
    text-align: left;
    font-size: 18px;
}
.result-box .btn{
    margin-right: 20px;
}
img{
    width: 100px;
    
    padding-bottom: 1em;
    
}
.total-question{
    margin-left: 40px;
    font-size: 20px;
    
}
.total-attempt{
    margin-left: 40px;
    font-size: 20px;

}
.total-correct{
    margin-left: 40px;
    font-size: 20px;
}
.total-wrong{
    margin-left: 40px;
    font-size: 20px;

}
.percentage{
    margin-left: 40px;
    font-size: 20px;

}
.total-score{
    margin-left: 40px;
    font-size: 20px;

}

@media(max-width: 767px){
    .result-box .btn{
        margin-bottom: 15px;
    }
    body{
        padding: 20px;
    }
}

/* balloon code
*/

.balloon {
  display:inline-block;
   width:120px;
  height:145px;
  background:hsl(215,50%,65%);
  border-radius:80%;
  position:relative;
  box-shadow:inset -10px -10px 0 rgba(0,0,0,0.07);
  margin:20px 30px;
  transition:transform 0.5s ease;
  z-index:10;
  animation:balloons 4s ease-in-out infinite;
  transform-origin:bottom center;
}

@keyframes balloons {
  0%,100%{ transform:translateY(0) rotate(-4deg); }
  50%{ transform:translateY(-25px) rotate(4deg); }
}


.balloon:before {
  content:"▲";
  font-size:20px;
  color:hsl(215,30%,50%);
  display:block;
  text-align:center;
  width:100%;
  position:absolute;
  bottom:-12px;
  z-index:-100;
}

.balloon:after {
 display:inline-block; top:153px;
  position:absolute;
  height:250px;
  width:1px;
  margin:0 auto;
  content:"";
  background:rgba(0,0,0,0.2); 
}

.balloon:nth-child(2){ background:hsl(245,40%,65%); animation-duration:3.5s; }
.balloon:nth-child(2):before { color:hsl(245,40%,65%);  }

.balloon:nth-child(3){ background:hsl(139,50%,60%); animation-duration:3s; }
.balloon:nth-child(3):before { color:hsl(139,30%,50%);  }

.balloon:nth-child(4){ background:hsl(59,50%,58%); animation-duration:4.5s; }
.balloon:nth-child(4):before { color:hsl(59,30%,52%);  }

.balloon:nth-child(5){ background:hsl(23,55%,57%); animation-duration:5s; }
.balloon:nth-child(5):before { color:hsl(23,44%,46%);  }

